<div>
  <h3>{{ note.content }}</h3>
  <span class="button is-small is-info" (click)='addHeartToNote(note.hearts)'>
    Like <i class="fa fa-thumbs-up"></i>
  </span>
  <span class="button is-small is-danger" (click)='addDisToNote(note.dis)'>
    Dislike <i class="fa fa-thumbs-down"></i>
  </span>
   <span class="button is-small is-info" >
    Update <i class="fa fa-pencil"></i>
  </span>
  <span class="button is-small is-danger" (click)='deleteNote(note?.id)'>Delete</span>
  <p>Likes ({{ note.hearts || 0 }}) Dislikes ({{ note.dis || 0 }})</p>
 <p>Time Posted ({{ note.time }}) </p>
</div>
